*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    transition: 0.5s;
    background-color:bisque;
    min-height: 80vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.title{
    width: 100%;
    text-align: center;
    margin-top: 1.5vw;
}

.wordContain{
    display: flex;
    /* border: 2px solid red; */
    width: 100%;
    height: 450px;
    
}

.wordContain img{
    width: 35vw;
    height: 20vw;
    border-radius: 25px;
    margin: auto;
}

.button{
    display: flex;
    /* border: 2px solid; */
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.button button{
    margin: auto;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    border-style: none;
    background-color: burlywood;
    font-size: 20px;
}

.guesses{
    /* display: flex; */
    /* border: 2px solid orange; */
    height: 110px;
    width: 100vw;
    flex-wrap: wrap;
    text-align: center;
}
.textdiv{
    /* border: 2px solid; */
    width: 100%;
    height: 50%;
    margin: auto;
    margin-bottom: 15px;
}

.guesses input{
    width: 25%;
    height: 50%;
    text-align: center;
    font-size: 1vw;
    border-radius: 10px;
    border-style: none;
}

.guesses button{
    height: 40px;
    width: 110px;
    border-radius: 10px;
    border-style: none;
    background-color: burlywood;
    font-size: 20px;
}

.hint{
    /* border: solid 1px red; */
    height: 50px;
    text-align: center;
    font-size: 1vw;
}

@media only screen and (max-width: 1024px){
    .wordContain img{
        width: 75vw;
        height: 40vw;
    }

    .wordContain{
        height: 50vw;
    }

    .guesses input{
        font-size: 2.5vw;
        height: 6vw;
        width: 50vw;
    }

    .guesses{
        height: 90px;
    }

    .hint{
        font-size: 2.5vw;
        font-weight: 800;
        height: 30px;
    }
    
    .textdiv{
        height: 35px;
        margin-bottom: 35px;
    }

    .button{
        margin-top: 20px;
    }
}
